@media screen and (max-width: 1600px) {

#starnightSite_wrapper{
	width:100%;
}
		/* ----------------- */
.info__text{
	width: 590px;
	left: 50px;
}
.info__pictures{
	width: 524px;
}
.info__picture_ipad{
	width: 524px;
}
		/* ------------------ */
.content__column{
	width:550px;
}
.content__column_right{
	padding-left: 25px;
}
		/* ------------------- */
.work__topic{
  margin-left: 0;
}
		/* ------------------- */
.footer__text{
  margin-left: 100px;
}
.footer__navigation{
  margin-right: 140px;
}
}

@media screen and (max-width: 1280px) {

.info__text{
	width: 50%;
	left: 50px;
}
.info__pictures{
	width: 40%;
}
.info__picture_ipad{
	width: 100%;
}
		/* ------------------- */
.quote__content_title{
	 width: 1000px;
}
		/* ------------------- */

.design__info{
	padding:0 20px;
}
.content__column{
	width:50%;
}
.content__column_left{
  padding-right: 25px;
}
.content__chapter{
  width: 100%;
}
		/* ------------------- */
.work__section, .section__front, .section__back, .section__block{
	width: 300px;
}
.back__text{
  line-height:22px;
}
.topic__title{
  font-size: 35px;
  line-height: 40px;
}
.work__topic{
	width: 360px;
}
.work__slider{
	width:360px;
}
}

@media screen and (max-width: 1024px) {

.info__text{
	width: 77%;
	left: 11%;
	top:175px;
	z-index:1;
}
.info__text_title{
	font-size: 45px;
  	margin-bottom: 20px;
}
.info__button_download{
	display: block;
	margin:0 auto;
}
.info__pictures{
	width: 90%;
	top:40px;
  	left:5%;
  	z-index:0;
}
.info__picture_ipad{
	width: 100%;
	-webkit-background-size: contain;
	background-size: contain;
}
.info__picture_circle1, .info__picture_circle2{
	display:none;
}
		/* ----------------------- */
.quote__content_title{
	padding:0 20px;
	width: auto;
	font-size: 30px;
  	line-height: 40px;
}
.quote__controls{
	bottom:150px;
}
		/* ---------------------- */
.design__info{
	top:50px;
}
.content__column{
	height:auto;
}
.content__button_tryDemo{
	bottom:70px;
}
		/* ----------------------- */
.work__content{
	flex-wrap:wrap;
	align-content: center;
}
.work__section:nth-child(even){
	margin-right: 0;
}
.work__section, .section__front, .section__back, .section__block{
	width: 337px;
}
.work__topic{
	padding-top: 50px;
	width: 100%;
  	height: 150px;
}
.work__slider{
	width:100%;
}
		/* -------------------- */
.starnightSite__item_footer{
	height:auto;
}
.footer__text{
  margin-left: 20px;
  width:60%;
}
.text__paragraph_first{
  width: auto;
  float:none;
  margin-bottom: 20px;
}
.text__paragraph_second{
  width: auto;
  float:none;
}
.footer__navigation{
  margin-right: 70px;
}
.footer__picture{
	margin:48px auto 50px auto;
}
}

@media screen and (max-width: 768px) {

.starnightSite__item_header{
  height: auto;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  padding: 50px 0;
}
.header__info{
  top:0;
  margin-bottom: 30px;
}
.header__text{
	width:auto;
	height:auto;
	padding:0 10px;
}
.header__button_play{
	top:0;
	transform:scale(0.75);
	margin-bottom: 30px;
}
.header__button_getStarted{
	position: relative;
	bottom: 0;
	transform:scale(0.75);
}
		/* ----------------- */
.info__text_title{
  	font-size: 35px;
}
.info__text_text{
  font-size: 16px;
  line-height: 25px;
}
.info__button_download{
	transform:scale(0.75);
}
.starnightSite__item_description{
	height: auto;
}
.description__item_quote, .quote__container{
	height: 400px;
}
.slides{
	top: 30px;
}
.quote__controls{
	bottom:70px;
}
		/* ---------------- */
.design__info{
	top:20px;
	flex-wrap:wrap;
}
.content__column{
	width:90%;
}
.content__column_left{
  padding-right:0;
  border-right:none;
}
.content__column_right{
  padding-left:0;
}
.content__chapter:nth-child(odd){
  margin-bottom: 20px;
}
.content__chapter:nth-child(even){
  margin-bottom: 20px;
}
.content__chapter_heading{
  margin-bottom: 10px;
}
.content__chapter_text{
  line-height: 25px;
}
.content__button_tryDemo{
	bottom:40px;
}
		/* ------------ */
.work__section, .section__front, .section__back, .section__block{
	width: 280px;
}
.back__text{
  font-size: 15px;
}
.work__topic{
	padding-top: 30px;
	width: 90%;
  	height: 150px;
}
.topic__title{
  font-size: 30px;
  line-height: 35px;
}
.topic__text{
  font-size: 15px;
  margin-top:10px;
  line-height: 20px;
}
}
